body {
    padding-bottom: 20px;
}

.body-content {
    padding: 20px 15px;
}

.table-container {
    padding-top: 10px;
}

.create-link {
    padding-left: 10px;
}

.nav-container {
    background-color: #dddddd;
}

.my-nav-link {
    color: #777777;
    padding-right: 0px;
}

.collapse.show {
    visibility: visible;
}

.modal-title {
    font-family: "Lobster Two", cursive;
    font-size: 2rem;
}

.details-container {
    padding: 2rem;
}

.link-button {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #007bff;
}

.link {
    font-weight: bold;
    color: #007bff;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

.btn-primary {
    margin-left: 1rem;
}