body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin-bottom: 0px;
    height: 70px;
}
.navbar-container {
    background-color: #dddddd;
}

.navbar-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-logo {
    width: 150px;
    height: auto;
}

.navbar-link-container {
    display: inline-flex;
    padding-left: 2rem;
}

.navbar-link-container > a {
    padding-left: 1rem;
}

.navbar-left-container {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    color: #000000;
}

.nav-link:hover {
    color: #0056b3;
}

.login-link:link {
    text-decoration: none;
    font-size: 1.8rem;
}

.modal-title {
    font-family: "Lobster Two", cursive;
    font-size: 2rem;
}

.details-container {
    padding: 2rem;
}

.link-button {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #007bff;
}

.link {
    font-weight: bold;
    color: #007bff;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}