@model ShrtLnks.Models.Link

@{
    ViewData["Title"] = "ShrtLnks Homepage";
}

<div class="container">
    <h2>Enter Long Url</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="LongUrl" class="form-control" />
                        <span class="input-group-btn">
                            <input type="submit" value="Shrtn" class="btn btn-primary" />
                        </span>
                        <span asp-validation-for="LongUrl" class="text-danger"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}